# # Compiled files
# *.out
# *.o
# *.exe

# # Object files
# *.obj

# # Debug files
# *.gdb
# *.dSYM/

# # Temporary files
# *.log
# *.tmp
# *.swp
# *~

# # VS Code
# .vscode/
text

# # Build folders
# build/
# bin/

# # OS files
# .DS_Store
# Thumbs.db


# Ignore everything
*

# Allow folders
!*/

# Allow source files everywhere
!*.c
!*.h
!*.md
!.gitignore

# Ignore binaries
*.out
*.o
